header{
    background-color: grey;
    height: 60px;
}
#marca{
    font-weight: bold;
    padding: 10px;
    font-size: 36px;
}
#radio{
    position: absolute;
    right: 300px;
}
nav{
    position: absolute;
    right: 20px;
    top: 20px;
}
nav li{
    display: inline-block;
    margin: 0 10px;
    font-size: 18px;
}
form{
    position: absolute;
    width: 50%;
    top: 200px;
    right: 300px;

}
.elemento{
    font-size: 30px;
    margin: 10px 10px;
}
input{
    margin: 10px 20px;
}